                                     Examen d’introduction à Python/Pandas

# 1. Bases

1.1 Simple échange

In [10]:
x,y=1,4
print('Avant: x=',x,'y=',y)
tmp=x
x=y
y=tmp
print('Apres: x=',x,'y=',y)

Avant: x= 1 y= 4
Apres: x= 4 y= 1

1.2 Le carré

In [32]:
print('Veuillez saisir un nombre')
res=input()
if res.isdigit():
    carre=int(res)**2
    print(res+'²='+str(carre))
else:
    try:
        carre=float(res)**2
        print(res,'²=',carre)
    except:
        print('Erreur de saisie')

Veuillez saisir un chiffre
e
Erreur de saisie

1.3 La condition

In [35]:
print('Veuillez saisir un nombre')
res=input()
if res.isdigit():
    if int(res)>0:
        print('Le nombre"'+res+'" est positif')
    elif int(res) <0:
        print('Le nombre"'+res+'" est neagatif')
else:
    try:
        if float(res)>0:
            print('Le nombre"'+res+'" est positif')
        elif float(res) <0:
            print('Le nombre"'+res+'" est neagatif')
    except:
        print('Erreur de saisie')

Veuillez saisir un nombre
0

1.4 Le produit

In [37]:
print('Veuillez saisir le premier nombre')
num1=input()
num2=input()
if num1.isdigit() & num2.isdigit():
    produit=int(num1)*int(num2)
    if int(produit)>0:
        print('Le resultat du produit: "'+str(produit)+'" est positif')
    elif int(produit) <0:
        print('Le resultat du produit: "'+str(produit)+'" est neagatif')
else:
    try:
        produit=float(num1)*float(num2)
        if produit>0:
            print('Le resultat du produit: "'+str(produit)+'" est positif')
        elif produit <0:
            print('Le resultat du produit: "'+str(produit)+'" est neagatif')
    except:
        print('Erreur de saisie')

Veuillez saisir le premier nombre
4
4.5
Le resultat du produit: "18.0" est positif

1.5 Calcul

In [43]:
print('Veuillez saisir le premier nombre')
num=input()
if num.isdigit() :
    num=int(num)
    for i in range(10):
        print((num+i+1))
else:
    try:
        num=float(num)
        for i in range(10):
            print((num+i+1))
    except:
        print('Erreur de saisie')

Veuillez saisir le premier nombre
17.0
18.0
19.0
20.0
21.0
22.0
23.0
24.0
25.0
26.0
27.0

1.6 Additivité

In [48]:
print('Veuillez saisir le premier nombre')
num=input()
res=0
if num.isdigit() :
    num=int(num)
    
    for i in range(num):
        res+=i+1
    print('La somme est:',res)
else:
    try:
        num=float(num)
        for i in range(int(num)):
            res+=i+1
        print('La somme est:',res)
    except:
        print('Erreur de saisie')

Veuillez saisir le premier nombre
5.6
La somme est: 15

# 2. Pandas

2.1 Ouvrir et stocker un CSV

In [101]:
import pandas as pd
import numpy as np

df=pd.read_csv('Pandas_exercice.csv',sep=',')
#print(df) 
for v in df.describe().columns:
    print('max',v,'==>',df.describe()[v]['max'])

max ord_no ==> 70013.0
max purch_amt ==> 5760.0
max customer_id ==> 3005.0
max salesman_id ==> 5007.0

2.2 Grouper et afficher

In [126]:
df.groupby(['customer_id']).sum().describe()['purch_amt']['count']

2.0

2.3 Trier et modifier

In [143]:
df.sort_values(by= 'purch_amt', ascending= False)

    ord_no  purch_amt    ord_date  customer_id  salesman_id
6    70008    5760.00  10-09-2012         3005         5001
11   70013    3045.60  08-08-2012         3005         5001
8    70003    2480.40  10-10-2012         3005         5003
5    70005    2400.60  10-09-2012         3001         5001
7    70010    1983.43  10-10-2012         3001         5006
4    70007     948.50  10-09-2012         3005         5002
0    70001        NaN  05-10-2012         3001         5002
1    70009        NaN  09-10-2012         3001         5005
2    70002        NaN  05-10-2012         3005         5001
3    70004        NaN  06-10-2012         3001         5003
9    70012        NaN  17-06-2012         3001         5002
10   70011        NaN  07-08-2012         3005         5007

In [ ]:
for i in df.index:
    if df['purch_amt'][i]<300:
        df['purch_amt'][i]=np.nan
df