### Licture du fichier CSV via Pandas

In [334]:
import pandas as pd
import numpy as np
mower_market=pd.read_csv('mower_market_snapshot.csv',sep=';')

### Appliquer le maximum de fonctions sur les donn√©es CSV

In [7]:
type(mower_market)

pandas.core.frame.DataFrame

In [9]:
mower_market.head()

,capacity,failure_rate,id,margin,price,prod_cost,product_type,quality,warranty,market_share,attractiveness
0,10.492623,0.042528,18377,633.766584,828.802103,195.03551928211797,auto-portee,Low,3ans,0.006360,0.650648
1,20.273730,0.037896,19363,731.576817,882.894916,151.31809934886763,auto-portee,Low,3 ans.,0.006840,0.699792
2,20.190457,0.039111,19641,741.218202,919.355522,178.13731921134948,auto-portee,Low,3_ans,0.006179,0.632129
3,27.220131,0.041303,18728,654.255635,817.085097,162.82946157588628,auto-portee,Low,3 anss,0.007925,0.810730
4,16.370911,0.037938,18722,703.094527,844.581465,141.48693796090603,auto-portee,Medium,3ans.,0.007406,0.757614

In [10]:
mower_market.tail()

,capacity,failure_rate,id,margin,price,prod_cost,product_type,quality,warranty,market_share,attractiveness
1394,44.959895,0.234647,18451,63.662561,75.161102,11.498540481074583,essence,Medium,1 an,0.000973,0.513126
1395,59.356058,0.253694,18663,64.014543,75.395132,11.380588736668567,essence,Low,1ans,0.001038,0.547739
1396,67.865222,0.228935,19169,62.132035,810.883148,unknown,essence,Low,1an.,0.001243,0.655622
1397,66.855435,0.244948,18946,58.697122,68.491318,9.794196773761458,essence,Low,1 an,0.001644,0.867537
1398,54.712713,0.177143,19017,64.259212,74.955428,10.696216086742934,essence,Low,1an.,0.001022,0.538969

In [15]:
series=pd.Series([mower_market])
series

0           capacity  failure_rate     id      marg...
dtype: object

In [16]:
dataframe=pd.DataFrame(mower_market)
dataframe

,capacity,failure_rate,id,margin,price,prod_cost,product_type,quality,warranty,market_share,attractiveness
0,10.492623,0.042528,18377,633.766584,828.802103,195.03551928211797,auto-portee,Low,3ans,0.006360,0.650648
1,20.273730,0.037896,19363,731.576817,882.894916,151.31809934886763,auto-portee,Low,3 ans.,0.006840,0.699792
2,20.190457,0.039111,19641,741.218202,919.355522,178.13731921134948,auto-portee,Low,3_ans,0.006179,0.632129
3,27.220131,0.041303,18728,654.255635,817.085097,162.82946157588628,auto-portee,Low,3 anss,0.007925,0.810730
4,16.370911,0.037938,18722,703.094527,844.581465,141.48693796090603,auto-portee,Medium,3ans.,0.007406,0.757614
...,...,...,...,...,...,...,...,...,...,...,...
1394,44.959895,0.234647,18451,63.662561,75.161102,11.498540481074583,essence,Medium,1 an,0.000973,0.513126
1395,59.356058,0.253694,18663,64.014543,75.395132,11.380588736668567,essence,Low,1ans,0.001038,0.547739
1396,67.865222,0.228935,19169,62.132035,810.883148,unknown,essence,Low,1an.,0.001243,0.655622
1397,66.855435,0.244948,18946,58.697122,68.491318,9.794196773761458,essence,Low,1 an,0.001644,0.867537
1398,54.712713,0.177143,19017,64.259212,74.955428,10.696216086742934,essence,Low,1an.,0.001022,0.538969

In [17]:
type(dataframe)

pandas.core.frame.DataFrame

In [19]:
mower_market.shape

(1399, 11)

In [20]:
dataframe.shape

(1399, 11)

In [23]:
dataframe=pd.DataFrame(np.array(mower_market))
dataframe

,0,1,2,3,4,5,6,7,8,9,10
0,10.492623,0.042528,18377,633.766584,828.802103,195.03551928211797,auto-portee,Low,3ans,0.006360,0.650648
1,20.273730,0.037896,19363,731.576817,882.894916,151.31809934886763,auto-portee,Low,3 ans.,0.006840,0.699792
2,20.190457,0.039111,19641,741.218202,919.355522,178.13731921134948,auto-portee,Low,3_ans,0.006179,0.632129
3,27.220131,0.041303,18728,654.255635,817.085097,162.82946157588628,auto-portee,Low,3 anss,0.007925,0.810730
4,16.370911,0.037938,18722,703.094527,844.581465,141.48693796090603,auto-portee,Medium,3ans.,0.007406,0.757614
...,...,...,...,...,...,...,...,...,...,...,...
1394,44.959895,0.234647,18451,63.662561,75.161102,11.498540481074583,essence,Medium,1 an,0.000973,0.513126
1395,59.356058,0.253694,18663,64.014543,75.395132,11.380588736668567,essence,Low,1ans,0.001038,0.547739
1396,67.865222,0.228935,19169,62.132035,810.883148,unknown,essence,Low,1an.,0.001243,0.655622
1397,66.855435,0.244948,18946,58.697122,68.491318,9.794196773761458,essence,Low,1 an,0.001644,0.867537
1398,54.712713,0.177143,19017,64.259212,74.955428,10.696216086742934,essence,Low,1an.,0.001022,0.538969

In [24]:
dataframe.head(2)

,0,1,2,3,4,5,6,7,8,9,10
0,10.492623,0.042528,18377,633.766584,828.802103,195.03551928211797,auto-portee,Low,3ans,0.00636,0.650648
1,20.273730,0.037896,19363,731.576817,882.894916,151.31809934886763,auto-portee,Low,3 ans.,0.00684,0.699792

In [25]:
dataframe.tail(1)

,0,1,2,3,4,5,6,7,8,9,10
1398,54.712713,0.177143,19017,64.259212,74.955428,10.696216086742934,essence,Low,1an.,0.001022,0.538969

In [26]:
dataframe.describe()

,0,1,2,3,4,5,6,7,8,9,10
count,1399.000000,1399.000000,1399,1399.000000,1399.000000,1381,1399,1399,1399,1399.000000,1399.000000
unique,1399.000000,1399.000000,1399,1399.000000,1399.000000,1333,3,3,27,1399.000000,1399.000000
top,76.437152,0.037938,18432,61.492764,73.370592,0,essence,Low,1 an.,0.003135,0.640983
freq,1.000000,1.000000,1,1.000000,1.000000,20,844,971,103,1.000000,1.000000

In [32]:
mower_market.describe()

,capacity,failure_rate,id,margin,price,market_share,attractiveness
count,1399.000000,1399.000000,1399.000000,1399.000000,1399.000000,1399.000000,1399.000000
mean,47.663266,0.166448,18958.000000,186.262609,260.075165,0.002144,0.636507
std,19.840501,0.073605,404.000825,191.011102,259.949127,0.001790,0.124016
min,0.013884,0.028906,18259.000000,52.943989,62.162200,0.000564,0.297384
25%,35.853890,0.095678,18608.500000,62.247602,73.379425,0.001135,0.549369
50%,50.309242,0.199796,18958.000000,66.299672,78.439753,0.001399,0.641351
75%,61.905015,0.228011,19307.500000,265.370973,384.265263,0.002446,0.726746
max,104.614865,0.302465,19657.000000,790.012898,964.973926,0.009314,0.952877

In [28]:
mower_market.head(0)

Empty DataFrame
Columns: [capacity, failure_rate, id, margin, price, prod_cost, product_type, quality, warranty, market_share, attractiveness]
Index: []

In [39]:
dataframe.iloc[:20,:8]

,0,1,2,3,4,5,6,7
0,10.492623,0.042528,18377,633.766584,828.802103,195.03551928211797,auto-portee,Low
1,20.273730,0.037896,19363,731.576817,882.894916,151.31809934886763,auto-portee,Low
2,20.190457,0.039111,19641,741.218202,919.355522,178.13731921134948,auto-portee,Low
3,27.220131,0.041303,18728,654.255635,817.085097,162.82946157588628,auto-portee,Low
4,16.370911,0.037938,18722,703.094527,844.581465,141.48693796090603,auto-portee,Medium
5,19.548213,0.035428,18268,728.284617,905.297503,177.01288573033196,auto-portee,Medium
6,12.242635,0.035492,18448,757.351286,930.615022,173.26373572791334,auto-portee,Hight
7,8.676314,0.042066,18943,633.515449,818.075591,184.56014118975136,auto-portee,Low
8,15.264180,0.038804,19640,646.626567,816.774028,170.14746134881673,auto-portee,Low
9,16.190545,0.034045,19559,628.673360,814.799650,186.1262903279073,auto-portee,Low
10,14.028989,0.034757,19560,637.200636,785.615675,148.41503918168814,auto-portee,Low
11,15.926414,0.037488,18922,675.328485,871.147948,195.81946333014687,auto-portee,Medium
12,14.318660,0.037684,18858,648.838526,819.838099,170.99957332823436,auto-portee,Low
13,19.896179,0.040934,19307,690.403797,830.373642,139.9698450224172,auto-portee,Low
14,18.925359,0.029028,19177,709.668292,874.528101,164.85980921486097,auto-portee,Low
15,0.014320,0.040453,19275,723.267667,932.020559,208.75289206129202,auto-portee,Medium
16,11.181391,0.039208,19478,684.847575,852.037497,167.18992276086493,auto-portee,Low
17,22.824634,0.032932,18969,687.263834,848.527485,161.26365131854845,auto-portee,Medium
18,25.622312,0.038356,18965,697.112619,882.086532,184.97391331970988,auto-portee,Hight
19,27.610500,0.041601,19376,658.273346,814.524030,156.25068438864682,auto-portee,Low

In [40]:
mower_market.iloc[:20,:8]

,capacity,failure_rate,id,margin,price,prod_cost,product_type,quality
0,10.492623,0.042528,18377,633.766584,828.802103,195.03551928211797,auto-portee,Low
1,20.273730,0.037896,19363,731.576817,882.894916,151.31809934886763,auto-portee,Low
2,20.190457,0.039111,19641,741.218202,919.355522,178.13731921134948,auto-portee,Low
3,27.220131,0.041303,18728,654.255635,817.085097,162.82946157588628,auto-portee,Low
4,16.370911,0.037938,18722,703.094527,844.581465,141.48693796090603,auto-portee,Medium
5,19.548213,0.035428,18268,728.284617,905.297503,177.01288573033196,auto-portee,Medium
6,12.242635,0.035492,18448,757.351286,930.615022,173.26373572791334,auto-portee,Hight
7,8.676314,0.042066,18943,633.515449,818.075591,184.56014118975136,auto-portee,Low
8,15.264180,0.038804,19640,646.626567,816.774028,170.14746134881673,auto-portee,Low
9,16.190545,0.034045,19559,628.673360,814.799650,186.1262903279073,auto-portee,Low
10,14.028989,0.034757,19560,637.200636,785.615675,148.41503918168814,auto-portee,Low
11,15.926414,0.037488,18922,675.328485,871.147948,195.81946333014687,auto-portee,Medium
12,14.318660,0.037684,18858,648.838526,819.838099,170.99957332823436,auto-portee,Low
13,19.896179,0.040934,19307,690.403797,830.373642,139.9698450224172,auto-portee,Low
14,18.925359,0.029028,19177,709.668292,874.528101,164.85980921486097,auto-portee,Low
15,0.014320,0.040453,19275,723.267667,932.020559,208.75289206129202,auto-portee,Medium
16,11.181391,0.039208,19478,684.847575,852.037497,167.18992276086493,auto-portee,Low
17,22.824634,0.032932,18969,687.263834,848.527485,161.26365131854845,auto-portee,Medium
18,25.622312,0.038356,18965,697.112619,882.086532,184.97391331970988,auto-portee,Hight
19,27.610500,0.041601,19376,658.273346,814.524030,156.25068438864682,auto-portee,Low

In [41]:
mower_market[-5:]

,capacity,failure_rate,id,margin,price,prod_cost,product_type,quality,warranty,market_share,attractiveness
1394,44.959895,0.234647,18451,63.662561,75.161102,11.498540481074583,essence,Medium,1 an,0.000973,0.513126
1395,59.356058,0.253694,18663,64.014543,75.395132,11.380588736668567,essence,Low,1ans,0.001038,0.547739
1396,67.865222,0.228935,19169,62.132035,810.883148,unknown,essence,Low,1an.,0.001243,0.655622
1397,66.855435,0.244948,18946,58.697122,68.491318,9.794196773761458,essence,Low,1 an,0.001644,0.867537
1398,54.712713,0.177143,19017,64.259212,74.955428,10.696216086742934,essence,Low,1an.,0.001022,0.538969

In [46]:
dataframe.rename(columns=lambda c: chr(65+c))

,A,B,C,D,E,F,G,H,I,J,K
0,10.492623,0.042528,18377,633.766584,828.802103,195.03551928211797,auto-portee,Low,3ans,0.006360,0.650648
1,20.273730,0.037896,19363,731.576817,882.894916,151.31809934886763,auto-portee,Low,3 ans.,0.006840,0.699792
2,20.190457,0.039111,19641,741.218202,919.355522,178.13731921134948,auto-portee,Low,3_ans,0.006179,0.632129
3,27.220131,0.041303,18728,654.255635,817.085097,162.82946157588628,auto-portee,Low,3 anss,0.007925,0.810730
4,16.370911,0.037938,18722,703.094527,844.581465,141.48693796090603,auto-portee,Medium,3ans.,0.007406,0.757614
...,...,...,...,...,...,...,...,...,...,...,...
1394,44.959895,0.234647,18451,63.662561,75.161102,11.498540481074583,essence,Medium,1 an,0.000973,0.513126
1395,59.356058,0.253694,18663,64.014543,75.395132,11.380588736668567,essence,Low,1ans,0.001038,0.547739
1396,67.865222,0.228935,19169,62.132035,810.883148,unknown,essence,Low,1an.,0.001243,0.655622
1397,66.855435,0.244948,18946,58.697122,68.491318,9.794196773761458,essence,Low,1 an,0.001644,0.867537
1398,54.712713,0.177143,19017,64.259212,74.955428,10.696216086742934,essence,Low,1an.,0.001022,0.538969

In [59]:
mower_market.loc[:5,'capacity':'margin']

    capacity  failure_rate     id      margin
0  10.492623      0.042528  18377  633.766584
1  20.273730      0.037896  19363  731.576817
2  20.190457      0.039111  19641  741.218202
3  27.220131      0.041303  18728  654.255635
4  16.370911      0.037938  18722  703.094527
5  19.548213      0.035428  18268  728.284617

In [57]:
mower_market.loc[:5,('capacity','margin')]

    capacity      margin
0  10.492623  633.766584
1  20.273730  731.576817
2  20.190457  741.218202
3  27.220131  654.255635
4  16.370911  703.094527
5  19.548213  728.284617

In [60]:
mower_market.loc[:,['capacity','margin']]

       capacity      margin
0     10.492623  633.766584
1     20.273730  731.576817
2     20.190457  741.218202
3     27.220131  654.255635
4     16.370911  703.094527
...         ...         ...
1394  44.959895   63.662561
1395  59.356058   64.014543
1396  67.865222   62.132035
1397  66.855435   58.697122
1398  54.712713   64.259212

[1399 rows x 2 columns]

In [65]:
mower_market.loc[:,['capacity','margin']].iloc[0:5]

    capacity      margin
0  10.492623  633.766584
1  20.273730  731.576817
2  20.190457  741.218202
3  27.220131  654.255635
4  16.370911  703.094527

In [66]:
mower_market.loc[mower_market.index[3],'margin']

654.2556353742241

In [67]:
mower_market.sort_values(by='capacity',ascending=False).head()

,capacity,failure_rate,id,margin,price,prod_cost,product_type,quality,warranty,market_share,attractiveness
808,104.614865,0.196455,18966,65.249862,77.462485,12.212623662295835,essence,Low,1an,0.001265,0.667658
818,95.100035,0.232960,18476,61.929406,72.046755,10.117349820466503,essence,Low,1_an.,0.001598,0.842908
1364,94.190711,0.226721,19348,65.009978,75.624378,10.614399621337961,essence,Low,1_an.,0.001289,0.679838
709,93.720276,0.232029,19358,61.283924,72.558648,11.27472426970402,essence,Low,1an,0.001398,0.737814
833,90.847604,0.225507,18615,68.655024,80.367723,11.71269876470713,essence,Hight,1_an.,0.001280,0.675588

In [74]:
mower_market.loc[mower_market['capacity']>1,:]

,capacity,failure_rate,id,margin,price,prod_cost,product_type,quality,warranty,market_share,attractiveness
0,10.492623,0.042528,18377,633.766584,828.802103,195.03551928211797,auto-portee,Low,3ans,0.006360,0.650648
1,20.273730,0.037896,19363,731.576817,882.894916,151.31809934886763,auto-portee,Low,3 ans.,0.006840,0.699792
2,20.190457,0.039111,19641,741.218202,919.355522,178.13731921134948,auto-portee,Low,3_ans,0.006179,0.632129
3,27.220131,0.041303,18728,654.255635,817.085097,162.82946157588628,auto-portee,Low,3 anss,0.007925,0.810730
4,16.370911,0.037938,18722,703.094527,844.581465,141.48693796090603,auto-portee,Medium,3ans.,0.007406,0.757614
...,...,...,...,...,...,...,...,...,...,...,...
1394,44.959895,0.234647,18451,63.662561,75.161102,11.498540481074583,essence,Medium,1 an,0.000973,0.513126
1395,59.356058,0.253694,18663,64.014543,75.395132,11.380588736668567,essence,Low,1ans,0.001038,0.547739
1396,67.865222,0.228935,19169,62.132035,810.883148,unknown,essence,Low,1an.,0.001243,0.655622
1397,66.855435,0.244948,18946,58.697122,68.491318,9.794196773761458,essence,Low,1 an,0.001644,0.867537
1398,54.712713,0.177143,19017,64.259212,74.955428,10.696216086742934,essence,Low,1an.,0.001022,0.538969

### Auditer et analyser la colonnes Prod_cost

In [75]:
mower_market['prod_cost']

0       195.03551928211797
1       151.31809934886763
2       178.13731921134948
3       162.82946157588628
4       141.48693796090603
               ...
1394    11.498540481074583
1395    11.380588736668567
1396               unknown
1397     9.794196773761458
1398    10.696216086742934
Name: prod_cost, Length: 1399, dtype: object

In [204]:
#On remarque une valeur unknown on fait dont un test sur les valeur de la colonne prod_cost:
    #Comme le type est par defaut str nous feront un caste vers float et nous determinerons les valeurs non caster
    #en renvoyant le numero de ligne.
tab=mower_market['prod_cost']    
indx_errno=[]
maximum=0
minimum=0

for i in range(len(tab)):
    try:
        res=float(tab[i])
        if minimum > res :
            minimum=res
        elif maximum < res:   
            maximum=res
    except:
        indx_errno.append(i)
        
print('\nIncorrect values= \n',tab[indx_errno])

print('\nMax= ',maximum)
print('Min= ',minimum)

Incorrect values=
 100     unknown
154     unknown
166     unknown
479     unknown
532     unknown
569     unknown
923     unknown
981     unknown
983     unknown
1091    unknown
1223    unknown
1357    unknown
1396    unknown
Name: prod_cost, dtype: object

Max=  210.98494137927483
Min=  -64.0

In [216]:
#les valeurs null
print(mower_market.loc[mower_market['prod_cost']=='0',:])

       capacity  failure_rate     id      margin       price prod_cost  \
47    25.136228      0.044026  19549  618.616295   69.359766         0
64    18.669448      0.036297  19368  738.279214  424.738557         0
126   12.417808      0.037797  19638  672.153234   74.156037         0
224   38.004822      0.088918  18523  255.289862   75.161299         0
377   42.216049      0.090275  18512  274.573188  877.008432         0
485   39.530576      0.098281  18731  266.559354  785.968557         0
535   43.410781      0.089094  19576  286.579692   62.162200         0
591   59.089766      0.198374  19065   66.589054  907.224715         0
632   53.057689      0.272022  19013   59.620476  746.037497         0
771   71.079908      0.204975  19084   64.761574  370.268763         0
844   54.136865      0.212580  18956   58.926577  875.686141         0
873   73.951245      0.246320  18687   63.080659  882.868848         0
922   72.423733      0.261196  19336   68.353986  782.073365         0
950   49.481572      0.222445  19150   63.558960  373.261749         0
1027  45.927230      0.194101  18816   62.608835  863.234098         0
1030  48.159517      0.239981  19164   61.198935  378.073376         0
1077  38.713058      0.261767  18768   65.185911  852.153035         0
1104   0.080173      0.203146  18419   67.625805  374.466095         0
1231  55.060353      0.196546  19193   61.635817  881.308880         0
1373  69.419877      0.218645  18672   61.980466  863.736257         0

     product_type quality warranty  market_share  attractiveness
47    auto-portee  Medium    3ans.      0.008874        0.907834
64    auto-portee  Medium   3_ans.      0.007104        0.726770
126   auto-portee   Hight    3_ans      0.007923        0.810591
224    electrique     Low   2_anss      0.002752        0.717166
377    electrique  Medium   2_ans.      0.002511        0.654159
485    electrique   Hight   2 anss      0.002300        0.599176
535    electrique     Low   2 anss      0.002389        0.622614
591       essence   Hight    1 ans      0.001037        0.547045
632       essence     Low    1_an.      0.001348        0.711382
771       essence     Low     1_an      0.001273        0.671882
844       essence     Low     1 an      0.001409        0.743584
873       essence     Low     1an.      0.001277        0.673511
922       essence   Hight     1 an      0.001087        0.573472
950       essence  Medium    1 an.      0.001124        0.593181
1027      essence  Medium    1 ans      0.001111        0.586140
1030      essence  Medium     1an.      0.001145        0.604087
1077      essence     Low     1 an      0.000833        0.439511
1104      essence     Low    1 an.      0.001079        0.569345
1231      essence     Low    1_an.      0.001246        0.657331
1373      essence     Low     1_an      0.001267        0.668634

In [209]:
#les valeurs null
print(mower_market.loc[mower_market['prod_cost']<'0',:])

       capacity  failure_rate     id      margin       price prod_cost  \
62    15.627623      0.041714  19448  657.152001  359.675157       -64
103   18.889544      0.036835  19194  661.693700   77.249896       -64
162   39.294042      0.104430  19415  269.875578  895.908032       -64
185   35.101579      0.094531  18486  264.497255   80.768167       -64
204   35.759231      0.080239  18854  271.454095  853.113313       -64
281   32.284422      0.087399  18895  299.179149  842.290304       -64
525   28.149706      0.091212  19204  253.637540   78.051216       -64
593   57.385720      0.200876  19121   61.832802  910.237658       -64
932   74.269568      0.243184  19322   65.897454  869.457389       -64
936   79.907161      0.225768  18506   65.625049  396.370061       -64
1002  48.634617      0.216839  18288   59.185909  844.086884       -64
1011  75.405057      0.242298  19323   68.048638  384.483419       -64
1047  68.386519      0.222190  18698   61.047944  366.298499       -64
1050  67.474496      0.227344  18608   65.065174  811.234854       -64
1191  76.999754      0.217446  18510   68.333723  368.273038       -64
1199  64.258698      0.223812  19648   64.892790  404.745466       -64
1330  49.364595      0.256847  19268   64.289960  867.163019       -64
1336  71.538747      0.238846  19344   66.131521  831.094377       -64

     product_type quality warranty  market_share  attractiveness
62    auto-portee     Low    3 ans      0.006839        0.699600
103   auto-portee     Low    3 ans      0.006655        0.680852
162    electrique     Low     2ans      0.002157        0.561937
185    electrique     Low   2_ans.      0.002893        0.753937
204    electrique     Low   2 anss      0.001153        0.300319
281    electrique     Low    2_ans      0.001571        0.409392
525    electrique     Low    2_ans      0.002763        0.719915
593       essence     Low     1_an      0.001233        0.650412
932       essence     Low    1 ans      0.001049        0.553251
936       essence  Medium    1_ans      0.001111        0.585933
1002      essence     Low    1_an.      0.001589        0.838527
1011      essence  Medium    1 an.      0.001152        0.607640
1047      essence   Hight    1_an.      0.001357        0.716167
1050      essence  Medium    1_ans      0.001221        0.643995
1191      essence     Low      1an      0.001086        0.573045
1199      essence     Low      1an      0.000878        0.463042
1330      essence  Medium     1an.      0.000969        0.511401
1336      essence     Low    1_an.      0.000685        0.361364

# Analyser le nombre de valeurs manquantes par colonne

In [143]:
for i in mower_market.columns:
    print(i+"  =>  "+str(mower_market[i].isnull().sum()))

capacity  =>  0
failure_rate  =>  0
id  =>  0
margin  =>  0
price  =>  0
prod_cost  =>  18
product_type  =>  0
quality  =>  0
warranty  =>  0
market_share  =>  0
attractiveness  =>  0

### Remplacer les valeurs manquantes par la moyenne de la colonne

In [177]:
mower_market['capacity'].mean()

47.66326644313606

In [246]:
tab_nan=mower_market['prod_cost'].isnull()
mower_market['prod_cost'][tab_nan]

107     NaN
135     NaN
170     NaN
232     NaN
280     NaN
331     NaN
471     NaN
607     NaN
711     NaN
732     NaN
795     NaN
804     NaN
815     NaN
843     NaN
845     NaN
934     NaN
1021    NaN
1105    NaN
Name: prod_cost, dtype: object

In [ ]:
#Ce n'est pas possible car la colonne comprend des valeur incorrecte

### Afficher les valeurs uniques de la colonne Warranty

In [197]:
mower_market['warranty'].unique()

array(['3ans', '3 ans.', '3_ans', '3 anss', '3ans.', '3 ans', '3_ans.',
       '3_anss', '3anss', '2 ans', '2 anss', '2anss', '2_ans', '2ans',
       '2_ans.', '2 ans.', '2_anss', '2ans.', '1 an', '1an', '1_an.',
       '1ans', '1an.', '1_ans', '1_an', '1 an.', '1 ans'], dtype=object)

### Finir d'explorer la colonne prod_cost

In [219]:
#depuis notre analyse sur la colonne prod_cost nous constatant:
    #un certain nombre de valeur null
print('Nombre de valeurs null = ',18)
    #un certain nombre de valeur 'unknow'
print('Nombre de valeurs unknow =',len(indx_errno))
    #un certain nombre de valeur negative 
print('Nombre de valeurs negatives =',len(mower_market.loc[mower_market['prod_cost']<'0',:]))

Nombre de valeurs nul =  18
Nombre de valeurs unknow = 13
Nombre de valeurs negatives = 18

### V√©rifier sa coh√©rence et si possible la modifier en cons√©quence

In [248]:
# pour que les valeurs soient coherentes on fixes les valeurs null les valeurs nom numerique 
#et les valeur negatives a O
mower_market=mower_market.replace(to_replace ='unknown' , value =np.nan)
#mower_market=mower_market.replace(to_replace ='' , value ='0')
mower_market

,capacity,failure_rate,id,margin,price,prod_cost,product_type,quality,warranty,market_share,attractiveness
0,10.492623,0.042528,18377,633.766584,828.802103,195.03551928211797,auto-portee,Low,3ans,0.006360,0.650648
1,20.273730,0.037896,19363,731.576817,882.894916,151.31809934886763,auto-portee,Low,3 ans.,0.006840,0.699792
2,20.190457,0.039111,19641,741.218202,919.355522,178.13731921134948,auto-portee,Low,3_ans,0.006179,0.632129
3,27.220131,0.041303,18728,654.255635,817.085097,162.82946157588628,auto-portee,Low,3 anss,0.007925,0.810730
4,16.370911,0.037938,18722,703.094527,844.581465,141.48693796090603,auto-portee,Medium,3ans.,0.007406,0.757614
...,...,...,...,...,...,...,...,...,...,...,...
1394,44.959895,0.234647,18451,63.662561,75.161102,11.498540481074583,essence,Medium,1 an,0.000973,0.513126
1395,59.356058,0.253694,18663,64.014543,75.395132,11.380588736668567,essence,Low,1ans,0.001038,0.547739
1396,67.865222,0.228935,19169,62.132035,810.883148,NaN,essence,Low,1an.,0.001243,0.655622
1397,66.855435,0.244948,18946,58.697122,68.491318,9.794196773761458,essence,Low,1 an,0.001644,0.867537
1398,54.712713,0.177143,19017,64.259212,74.955428,10.696216086742934,essence,Low,1an.,0.001022,0.538969

In [284]:
moy=mower_market['prod_cost'][mower_market.prod_cost.notnull()].astype('float64').mean()

In [285]:
mower_market=mower_market.replace(to_replace =np.nan , value =moy)

### Traiter la colonne warranty afin d'obtenir une colonne num√©rique avec 3 valeurs uniques

In [325]:
mower_market['warranty'].unique()

array(['3ans', '3 ans.', '3_ans', '3 anss', '3ans.', '3 ans', '3_ans.',
       '3_anss', '3anss', '2 ans', '2 anss', '2anss', '2_ans', '2ans',
       '2_ans.', '2 ans.', '2_anss', '2ans.', '1 an', '1an', '1_an.',
       '1ans', '1an.', '1_ans', '1_an', '1 an.', '1 ans'], dtype=object)

In [335]:
for i in range(len(mower_market['warranty'])):
    if mower_market.loc[mower_market.index[i], 'warranty'].find('1')!=-1:
        mower_market.loc[mower_market.index[i], 'warranty']=1
    elif mower_market.loc[mower_market.index[i], 'warranty'].find('2')!=-1:
        mower_market.loc[mower_market.index[i], 'warranty']=2
    else:
        mower_market.loc[mower_market.index[i], 'warranty']=3

In [336]:
mower_market['warranty'].unique()

array([3, 2, 1], dtype=object)

In [337]:
mower_market['warranty']

0       3
1       3
2       3
3       3
4       3
       ..
1394    1
1395    1
1396    1
1397    1
1398    1
Name: warranty, Length: 1399, dtype: object

### Traiter la colonne price afin d'avoir 3 cat√©gories :

In [338]:
mower_market['price']

0       828.802103
1       882.894916
2       919.355522
3       817.085097
4       844.581465
           ...
1394     75.161102
1395     75.395132
1396    810.883148
1397     68.491318
1398     74.955428
Name: price, Length: 1399, dtype: float64

In [351]:
cat_price={'0-300':mower_market.loc[(mower_market['price'] >=0) & (mower_market['price']<=300),:]['price']
           ,'301-500':mower_market.loc[(mower_market['price'] >=301) & (mower_market['price']<=500),:]['price']
           ,'501-++':mower_market.loc[mower_market['price'] >500,:]['price']}

In [352]:
cat_price

{'0-300': 47      69.359766
 103     77.249896
 126     74.156037
 166     70.271198
 170     72.970497
           ...
 1393    69.391858
 1394    75.161102
 1395    75.395132
 1397    68.491318
 1398    74.955428
 Name: price, Length: 813, dtype: float64, '301-500': 62      359.675157
 64      424.738557
 100     350.216029
 107     411.087712
 135     396.773981
            ...
 1047    366.298499
 1104    374.466095
 1191    368.273038
 1199    404.745466
 1357    381.677052
 Name: price, Length: 417, dtype: float64, '501-++': 0       828.802103
 1       882.894916
 2       919.355522
 3       817.085097
 4       844.581465
            ...
 1231    881.308880
 1330    867.163019
 1336    831.094377
 1373    863.736257
 1396    810.883148
 Name: price, Length: 169, dtype: float64}

### Transformer la colonne product_type en colonne num√©rique avec 3 cat√©gories :

In [412]:
mower_market2=mower_market.copy()

In [413]:
mower_market2['product_type'].unique()

array(['auto-portee', 'electrique', 'essence'], dtype=object)

In [414]:
mower_market2=mower_market2.replace()

In [415]:
for i in range(len(mower_market2['product_type'])):
    if mower_market2.loc[mower_market2.index[i], 'product_type'].find('auto-portee')!=-1:
        mower_market2.loc[mower_market2.index[i], 'product_type']=1
    elif mower_market2.loc[mower_market2.index[i], 'product_type'].find('electrique')!=-1:
        mower_market2.loc[mower_market2.index[i], 'product_type']=2
    else:
        mower_market2.loc[mower_market2.index[i], 'product_type']=3

In [416]:
mower_market2['product_type'].unique()

array([1, 2, 3], dtype=object)

### Puis cr√©er 3 colonnes (auto-port√©e, essence, √©lectrique) repr√©sentant une variable binaire avec 1 si le produit est du type de la colonne ou 0 sinon.

In [417]:
mower_market2.head(0)

Empty DataFrame
Columns: [capacity, failure_rate, id, margin, price, prod_cost, product_type, quality, warranty, market_share, attractiveness]
Index: []

In [418]:
mower_market2.insert(7, "auto-portee", mower_market['product_type']=='auto-portee', True) 
mower_market2.insert(8, "electrique", mower_market['product_type']=='electrique', True) 
mower_market2.insert(9, "essence", mower_market['product_type']=='essence', True)

In [419]:
mower_market2

,capacity,failure_rate,id,margin,price,prod_cost,product_type,auto-portee,electrique,essence,quality,warranty,market_share,attractiveness
0,10.492623,0.042528,18377,633.766584,828.802103,195.03551928211797,1,True,False,False,Low,3,0.006360,0.650648
1,20.273730,0.037896,19363,731.576817,882.894916,151.31809934886763,1,True,False,False,Low,3,0.006840,0.699792
2,20.190457,0.039111,19641,741.218202,919.355522,178.13731921134948,1,True,False,False,Low,3,0.006179,0.632129
3,27.220131,0.041303,18728,654.255635,817.085097,162.82946157588628,1,True,False,False,Low,3,0.007925,0.810730
4,16.370911,0.037938,18722,703.094527,844.581465,141.48693796090603,1,True,False,False,Medium,3,0.007406,0.757614
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1394,44.959895,0.234647,18451,63.662561,75.161102,11.498540481074583,3,False,False,True,Medium,1,0.000973,0.513126
1395,59.356058,0.253694,18663,64.014543,75.395132,11.380588736668567,3,False,False,True,Low,1,0.001038,0.547739
1396,67.865222,0.228935,19169,62.132035,810.883148,unknown,3,False,False,True,Low,1,0.001243,0.655622
1397,66.855435,0.244948,18946,58.697122,68.491318,9.794196773761458,3,False,False,True,Low,1,0.001644,0.867537
1398,54.712713,0.177143,19017,64.259212,74.955428,10.696216086742934,3,False,False,True,Low,1,0.001022,0.538969

### construire le mod√®le de pr√©diction

In [429]:
from sklearn.metrics import mean_squared_error 
from math import sqrt

In [432]:
actual = mower_market2['product_type']
predicted = mower_market2['attractiveness']

mse = mean_squared_error(actual, predicted)

rmse = sqrt(mse)

print(rmse)

1.9945944667019453